<div class="container">
  <h1 class="mt-5 mb-4">Películas</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.synopsis %></td>
          <td><%= movie.director %></td>S
          <td><%= link_to 'Mostrar', movie_path(movie), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Editar', edit_movie_path(movie), class: 'btn btn-secondary btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar película', new_movie_path, class: 'btn btn-success' %>
  <%= link_to 'Volver', root_path, class: 'btn btn-secondary' %>

</div>

