<div class="container">
  <h1 class="mt-5 mb-4">Documentales</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @documentaries.each do |documentary| %>
        <tr>
          <td><%= documentary.name %></td>
          <td><%= documentary.synopsis %></td>
          <td><%= documentary.director %></td>
          <td><%= link_to 'Mostrar', documentary_path(documentary), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Editar', edit_documentary_path(documentary), class: 'btn btn-secondary btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar película', new_documentary_path, class: 'btn btn-success' %>
  <%= link_to 'Volver', root_path, class: 'btn btn-secondary' %>
  
</div>

