<div class="container">
  <h1 class="mt-5 mb-4">Detalles de la película</h1>

  <p><strong>Nombre:</strong> <%= @movie.name %></p>
  <p><strong>Sinopsis:</strong> <%= @movie.synopsis %></p>
  <p><strong>Director:</strong> <%= @movie.director %></p>

  <div class="form-group mb-4">
    <%= link_to 'Editar', edit_movie_path(@movie), class: 'btn btn-primary' %>
    <%= link_to 'Volver', movies_path, class: 'btn btn-secondary' %>
  </div>
</div>
