<div class="container">
  <h1 class="mt-5 mb-4">Detalles del Documental</h1>

  <p><strong>Nombre:</strong> <%= @documentary.name %></p>
  <p><strong>Sinopsis:</strong> <%= @documentary.synopsis %></p>
  <p><strong>Director:</strong> <%= @documentary.director %></p>

  <div class="form-group mb-4">
    <%= link_to 'Editar', edit_documentary_path(@documentary), class: 'btn btn-primary' %>
    <%= link_to 'Volver', documentaries_path, class: 'btn btn-secondary' %>
  </div>
</div>
