<div class="container">
  <h1 class="mt-5 mb-4">Películas, Series y Documentales</h1>

  <h2>Películas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.synopsis %></td>
          <td><%= movie.director %></td>
          <td><%= link_to 'Ver', movie_path(movie), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h2>Series</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @series.each do |serie| %>
        <tr>
          <td><%= serie.name %></td>
          <td><%= serie.synopsis %></td>
          <td><%= serie.director %></td>
          <td><%= link_to 'Ver', serie_path(serie), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Documentales</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sinopsis</th>
        <th>Director</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @documentaries.each do |documentary| %>
        <tr>
          <td><%= documentary.name %></td>
          <td><%= documentary.synopsis %></td>
          <td><%= documentary.director %></td>
          <td><%= link_to 'Ver', documentary_path(documentary), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
