<div class="container">
  <%= form_with(model: @serie, url: series_path(@serie), method: :patch, class: 'mt-5') do |form| %>
    <div class="mb-3">
      <%= form.label :name, 'Nombre', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :synopsis, 'Sinopsis', class: 'form-label' %>
      <%= form.text_area :synopsis, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :director, 'Director', class: 'form-label' %>
      <%= form.text_field :director, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
      <%= link_to 'Volver', series_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
