<div class="container">
  <h1 class="mt-5 mb-4">Detalles de la serie</h1>

  <p><strong>Nombre:</strong> <%= @serie.name %></p>
  <p><strong>Sinopsis:</strong> <%= @serie.synopsis %></p>
  <p><strong>Director:</strong> <%= @serie.director %></p>

  <div class="form-group mb-4">
    <%= link_to 'Editar', edit_serie_path(@serie), class: 'btn btn-primary' %>
    <%= link_to 'Volver', series_path, class: 'btn btn-secondary' %>
  </div>
</div>
